@page
@model Avram_Alin_Proiect.Pages.AutoParts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AutoPart</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoPart.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoPart.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoPart.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoPart.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoPart.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoPart.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoPart.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoPart.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoPart.AcquisitionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoPart.AcquisitionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoPart.Car.CarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoPart.Car.CarName)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AutoPart?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
