@page
@model Avram_Alin_Proiect.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.AutoPart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.AutoPart.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SaleDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
